@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: rgb(253, 236, 135);
}
.header{
    min-height: 5vh;
    width: 100%;
    background-color: #086c8e;
    margin-bottom: 2px;
}
.header nav{
    display: flex;
    padding: 1% 10% 0.5% 13%;
    justify-content: space-evenly;
    align-items: center;
}
nav img{
    width: 220px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    background: gold;
    display: block;
    height: 2px;
    margin: auto;
    transition: 0.5s ease;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.slider{
    width: 1520px;
    margin: auto;
    overflow: hidden;
    height: 650px;
}
.slider ul{
    background-color: rgba(190, 190, 190, 0.589);
    margin: 0;
    width: 4100px;
    padding: 0;
    position: relative;
    animation: sliding 15s ease-in-out infinite;
    list-style-type: none;
}
.slider ul li{
    float: left;
    padding: 0;
    margin: 0;
}
@keyframes sliding{
    0%{left: 0px;}
    30%{left: -1520px;}
    90%{left: 0px;}
}
.info{
    background-color: #fff;
    margin-top: 0;
}
.info h1 {
    font-size: 36px;
    color: #086c8e;
    font-weight: inherit;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    padding-top: 100px;
    font-size: 2em;
}
.info p {
    font-size: 22px!important;
    color: #777;
    line-height: 2em;
    text-align: center;
    padding: 50px 200px;
    font-weight: 700;
}
.about-btn{
    color: #086c8e;
    text-decoration: none;
    background-color: gold;
    display: inline-block;
    font-weight: 600;
    font-size: 1.5em;
    border-radius: 15px;
    letter-spacing: 1px;
    margin-bottom: 40px;
    padding: 0.5em 1.5em;
    transition: 1s ease;
    margin-left: 650px;
}
.about-btn:hover{
    background-color: #086c8e; 
    color: gold;
    transform: scale(1.1);
}
.projects{
    background-image: url(img/fawrypay-245x180.png);
    background-color: #086c8e;
}
.projects h2{
    color: gold;
    text-align: center;
    font-size: 3em;
}
.projects .content{
    margin-top: 30px;
    display: flex;
    align-items: center;
    margin-left: 100px;
}
.project-card{
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    width: 300px;
    height: 280px;
    overflow: hidden;
    transition: 1s ease;
    margin: 20px;

}
.project-card:hover{
    transform: scale(1.2);
}
.project-card:hover .project-img{
    opacity: .8;
}
.project-img img{
    width: 100%;
}
.project-info{
    padding: 1em;
}
.project-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
    font-size: 0.7em;
}
.more-details{
    text-decoration: none;
    color: #3a6cf4;
}
.more-details:hover{
    color: #601cfc;
}
footer{
    background-color: #000016;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 2em;
}
footer p{
    color: gold;
}
footer .social_icons a:hover{
    color: gold;
}
.social_icons a{
    color: #fff;
    margin-right: 30px;
    font-size: 2em;
}